{% extends "base.html" %}

{% block header %}Pedidos{% endblock %}

{% block extra_css %}{% endblock %}

{% block extra_js %}{% endblock %}

{%block content%}
<a
    name="btn_iniciar_pedido"
    id="btn_iniciar_pedido"
    class="btn btn-primary"
    href="{% url 'iniciar_pedido' %}"
    role="button"
    >Nuevo Pedido</a
>
{% for p in pedidos %}
    <div class="card mb-3">
        <div class="card-body">
            <h5 class="card-title">Pedido: {{ p.id }}</h5>
            <p>Mesa {{ p.mesa }}</p>
            <p>Cliente: {{ p.cliente }}</p>
            <p>Estado: {{ p.estado }}</p>
            <p>Tipo: {{ p.tipo }}</p>
            <p>Total: {{ p.total }}</p>
            <p>Observaciones: {{ p.observaciones }}</p>
            <p>Fecha de Creacion: {{ p.fecha_creacion }}</p>

            {% if not p.fecha_cierre %}
                <a href="{% url 'ticket_pedido' p.id %}" class="btn btn-sm btn-outline-primary">Ver / Agregar productos</a>
            {% else %}
                <span class="badge bg-secondary">Cerrado</span>
            {% endif %}
        </div>
    </div>
{% endfor %}


{% endblock %}